<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="reagodjj.example.com.exercise">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SecondActivity" />
        <activity android:name=".ui.RegisterActivity">
            <intent-filter>
                <action android:name="reagodjj.example.com.exercise.register" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ViewPagerActivity" />
        <activity android:name=".ui.FragmentViewPagerActivity" />
        <activity android:name=".ui.MessageActivity" />
        <activity android:name=".ui.HTTPURLConnectionActivity" />
        <activity android:name=".ui.ListViewActivity" />
        <activity android:name=".ui.NewListViewActivity" />
        <activity android:name=".ui.ServiceActivity" />
        <activity android:name=".ui.BroadcastActivity" />
        <activity android:name=".ui.ContentProviderActivity" />
        <activity android:name=".ui.SlidingMenuActivity" />

        <service android:name=".service.MyService" />

        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.FirstReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter android:priority="1">
                <action android:name="MYFUCK" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.SecondReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter android:priority="10">
                <action android:name="MYFUCK" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.ThirdReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter android:priority="100">
                <action android:name="MYFUCK" />
            </intent-filter>
        </receiver>


    </application>

</manifest>